Source: multiflexi-cli
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12), jq, moreutils, composer, php-yaml, php-intl, php-simplexml
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/multiflexi-cli

Package: multiflexi-cli
Multi-Arch: foreign
Depends: ${misc:Depends},
 multiflexi-common,
 php-vitexsoftware-multiflexi-core,
 php-cli,
 locales-all,
 adduser (>= 3.11),
 php-symfony-console,
 php-json-schema,
Suggests: multiflexi-all
Pre-Depends:  multiflexi-database
Architecture: all
Description: commandline interface for MultiFlexi
 MultiFlexi CLI is a command-line interface tool for managing and interacting with the MultiFlexi system.
 It allows administrators and users to list, create, get, and delete MultiFlexi resources directly
 from the terminal. The CLI supports JSON output for easy integration with other tools and
 scripts, and provides internationalization support. This package is intended for users who prefer
 or require command-line access to MultiFlexi's features.
