#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DB_CONNECTION = dummy
export DB_HOST = dummy
export DB_PORT = dummy
export DB_DATABASE = dummy
export DB_USERNAME = dummy
export DB_PASSWORD = dummy

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/tmp/composer.json
	dh_install
	# Install Debian autoloader
	install -D -m 0644 debian/autoload.php debian/multiflexi-cli/usr/share/php/multiflexi-cli/autoload.php
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/multiflexi-cli/usr/share/php/multiflexi-cli/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \\
		debian/multiflexi-cli/usr/share/php/multiflexi-cli/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \\
		debian/multiflexi-cli/usr/share/php/multiflexi-cli/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/multiflexi-cli/usr/share/php/multiflexi-cli/autoload.php
	# Ensure sudoers snippets have correct permissions
	if [ -d debian/multiflexi-cli/etc/sudoers.d ]; then chmod 0440 debian/multiflexi-cli/etc/sudoers.d/*; fi
	# Ensure wrapper script is executable
	if [ -f debian/multiflexi-cli/usr/bin/multiflexi ]; then chmod 0755 debian/multiflexi-cli/usr/bin/multiflexi; fi
	sed -i "s|require_once __DIR__.'/../vendor/autoload.php';|require_once '/usr/share/php/multiflexi-cli/autoload.php';|" debian/multiflexi-cli/usr/share/multiflexi-cli/multiflexi-cli.php
	sed -i "s|__DIR__ \. '/../.env'|'/etc/multiflexi/multiflexi.env'|" debian/multiflexi-cli/usr/share/multiflexi-cli/multiflexi-cli.php
	# Generate shell completions
	mkdir -p debian/multiflexi-cli/usr/share/bash-completion/completions
	cd src; ./multiflexi-cli completion bash > ../debian/multiflexi-cli/usr/share/bash-completion/completions/multiflexi-cli ; cd ..
	mkdir -p debian/multiflexi-cli/usr/share/zsh-completion/completions
	cd src; ./multiflexi-cli completion zsh > ../debian/multiflexi-cli/usr/share/zsh-completion/completions/multiflexi-cli ; cd ..
	install -m0755 -d debian/multiflexi-cli/usr/share/pkg-php-tools/autoloaders
	echo 'deb multiflexi-cli multiflexi-cli/autoload.php' > debian/multiflexi-cli/usr/share/pkg-php-tools/autoloaders/multiflexi-cli

override_dh_phpcomposer:
	jq 'del(."require-dev")' composer.json | sponge composer.json
	dh_phpcomposer
